@import "font-faces.css";

:root {
  --main-color:           #313131;
  --main-accent-color:    #515151;

  --tone-1-color:         #eeeeee;
  --tone-1-accent-color:  #e4e4e4;

  --tone-2-color:         #212121;
  --tone-2-accent-color:  #212121;

  --tone-3-color:         #a2a2a2;
  --tone-3-accent-color:  #a2a2a2;

  --tone-4-color:         #b34b4b;
  --tone-4-accent:        #b34b4b; /* unused*/

  --overlay-background:   rgba(0,0,0, 0.6);
  --box-shadow:           rgba(33, 33, 33, 0.52);
}


/* Style Scrollbar */
/******************************************************************************/
::-webkit-scrollbar {
        background-color: var(--main-color);
        width: .8em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
        background:  var(--main-accent-color);
}

/* Style Body */
/******************************************************************************/
body {
  background-color: var(--main-color);
  color:            var(--tone-1-color);
  padding: 0px;
  margin: 0;
}

/* Style Header */
/******************************************************************************/
header {
  background-color: var(--main-color);
  color:            var(--tone-1-color);
  padding: 30px;
  height: 40%;;
  text-align: center;
}

/* Style Overlay */
/******************************************************************************/
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--overlay-background);
}

.overlay-content {
  position: relative;
  top: 2%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.overlay-close {
  cursor: pointer;
  font-weight: 700;
  text-align: right;
}

.overlay a {
  padding: 8px;
  padding-left: 15px;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Roboto";
  color: var(--tone-1-color);
  display: block;
  transition: 0.3s;
}

.overlay h1 {
  padding-left: 15px;
}
.overlay h2, h3 {
  margin: 0px;
}

/* Style Pop-Up */
/******************************************************************************/



/* Style Status Bar */
/******************************************************************************/
.status-bar {
  width: 100%;
  font-family: consolas;
  height: 25px;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  box-shadow: inset 0px -8px 20px 5px var(--box-shadow);
}

.status-column {
  float: left;
  width: 50px;
}

.status-text  {
  font-size: 0.7rem;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--tone-3-color);
  padding-top: 6px;
  margin: 0px !important;
  white-space: nowrap;
  padding-left:10px;
}

.status-button {
  cursor: pointer;
}

/* Style Controls */
/******************************************************************************/
header label {
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 5px
}

header input[type=text], select {
  font-family: "Roboto", sans-serif;
  background-color: var(--tone-1-color);
  color:            var(--main-color);
  width: 100%;
  height: auto;
  padding: 8px 2%;
  margin: 15px 0;
  box-sizing: border-box;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px var(--tone-2-color);
}

header input[type=submit] {
  font-family: "Oswald", sans-serif;
  background-color: var(--main-color);
  color:            var(--tone-1-color);
  width: 100%;
  height: auto;
  margin-top: 8px;
  padding: 10px 2%;
  margin: 8px 0;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px 5px var(--tone-2-color);
}

header input[type=submit]:hover {
  background-color: var(--tone-2-color);
  color:            var(--tone-1-color);
  box-shadow: inset 0 0 4px 1px var(--tone-2-color);
}

/* Style Timeline General*/
/******************************************************************************/

h1 {
  font-family: "Oswald", sans-serif;
  color:  var(--tone-1-color);
  font-size: 2rem;
  margin-bottom: 0.5em;
}

p {
  font-family: "Roboto", sans-serif;
  color:  var(--tone-1-color);
  font-size: 0.8rem;
}

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: var(--tone-1-accent-color);
  border-left: 2px solid var(--tone-1-color);
}

.timeline-item p {
  font-size: 1rem;
  color:  var(--tone-1-color);
}

.timeline-item::before {
  content: attr(on-line);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.785rem;
}

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7.5px;
  border-radius: 10px;
  content: "";
  border: 2px solid var(--tone-1-color);;
  background: white;
}

.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, var(--tone-1-color);) 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, var(--tone-1-color); 60%, rgba(0, 0, 0, 0)) 1 100%;
}
