@import "font-faces.css";

:root {
  /* Anthracite && Darker Anthracite*/
  --main-color:           #313131;
  --main-accent-color:    #515151;

  /* Offwhite && Darker Offwhite */
  --tone-1-color:         #eeeeee;
  --tone-1-accent-color:  #e4e4e4;

  /* Black Anthracite */
  --tone-2-color:         #212121;
  --tone-2-accent-color:  #212121;

  /* Light Gray */
  --tone-3-color:         #a2a2a2;
  --tone-3-accent-color:  #a2a2a2;

  /* Red && Dark Red */
  --tone-4-color:         #b34b4b;
  --tone-4-accent:        #632b2b;

  /* Green && Dark Green */
  --tone-5-color:         #4e9455;
  --tone-5-accent:        #1f3c22;

  /* Yellow && Dark Yellow */
  --tone-6-color:         #a88d39;
  --tone-6-accent:        #3c3a1f;

  --overlay-background:   rgba(40, 40, 40, 0.8);
  --box-shadow:           rgba(33, 33, 33, 0.5);
}


/* Style Scrollbar */
/******************************************************************************/
::-webkit-scrollbar {
        background-color: var(--main-color);
        width: .8em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
        background:  var(--main-accent-color);
}

/* Style Body */
/******************************************************************************/
body {
  background-color: var(--main-color);
  color:            var(--tone-1-color);
  padding: 0px;
  margin: 0;
}

/* Style Header */
/******************************************************************************/
header {
  background-color: var(--main-color);
  color:            var(--tone-1-color);
  padding: 30px;
  height: 40%;
  text-align: center;
}

/* Style Overlay */
/******************************************************************************/
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--overlay-background);
}

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.overlay-content {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 1%;
  margin-left: 4%;
}

.overlay-close {
  cursor: pointer;
  font-weight: 700;
  text-align: right;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Roboto";
  color: var(--tone-1-color);
  display: block;
  transition: 0.3s;
}

.overlay h1 {
}

.overlay h2, h3 {
  margin: 0px;
}

/* Style inSop table */
/******************************************************************************/
.insop-table table {
  border-collapse: collapse;
  text-align: center;
}

.insop-table table, th, td {
  border: 1px solid var(--tone-1-accent);
}

.insop-table th, td {
  padding: 7px;
  text-align: left;
  background: var(--tone-2-color);
}


.insop-table h1, p {
  margin: 0px;
  color: var(--tone-1-color);
}


.insop-table p {
  font-family: "consolas";
  padding: 5px;
  background-color: var(--main-color); /*#41a64b; */
  border-radius: 3px;
}

/* cell styles */
.insop-table .green-cell {
  background-color: var(--tone-4-color);
  color: var(--tone-4-accent);
}
/* every 2nd last cell text */
.insop-table .red-cell  {
  background-color: var(--tone-5-color);
  color: var(--tone-5-accent);
}
/* every 2nd last cell text */
.insop-table .yellow-cell  {
  background-color: var(--tone-6-color);
  color: var(--tone-6-accent);
}

/* Style MNCshow Overlay */
/******************************************************************************/
.mncshow {
  display: inline-block;
  width: 20%;
}

.mncshow .code {
  text-align: left;
  letter-spacing: 2px;
  margin: 0px;
  font-family: "consolas";
  padding: 5px;
  background-color: var(--main-color);
  color: var(--tone-1-color);
  border-radius: 3px;
}

.mncshow .code-highlight {
  text-align: left;
  letter-spacing: 2px;
  margin: 0px;
  font-family: "consolas";
  padding: 5px;
  background-color: #4e9455;
  color: #1f3c22;
  border-radius: 3px;
  font-weight: bold;
}

/* Style Status Bar */
/******************************************************************************/
.status-bar {
  width: 100%;
  font-family: consolas;
  height: 25px;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  box-shadow: inset 0px -8px 20px 5px var(--box-shadow);
}

.status-column {
  float: left;
  width: 50px;
}

.status-text  {
  font-size: 0.7rem;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--tone-3-color);
  padding-top: 6px;
  margin: 0px !important;
  white-space: nowrap;
  padding-left:10px;
}

.status-button {
  cursor: pointer;
}

.state-circle-red {
  fill: var(--tone-4-color);
}

.state-circle-green {
  fill: var(--tone-5-color);
}

/* Style Controls */
/******************************************************************************/
header label {
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 5px
}

header input[type=text], select {
  font-family: "Roboto", sans-serif;
  background-color: var(--tone-1-color);
  color:            var(--main-color);
  width: 100%;
  height: auto;
  padding: 8px 2%;
  margin: 15px 0;
  box-sizing: border-box;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px var(--tone-2-color);
}

header input[type=submit] {
  font-family: "Oswald", sans-serif;
  background-color: var(--main-color);
  color:            var(--tone-1-color);
  width: 100%;
  height: auto;
  margin-top: 8px;
  padding: 10px 2%;
  margin: 8px 0;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px 5px var(--tone-2-color);
}

header input[type=submit]:hover {
  background-color: var(--tone-2-color);
  color:            var(--tone-1-color);
  box-shadow: inset 0 0 4px 1px var(--tone-2-color);
}

/* Style Timeline General*/
/******************************************************************************/

h1 {
  font-family: "Oswald", sans-serif;
  color:  var(--tone-1-color);
  font-size: 2rem;
  margin-bottom: 0.5em;
}

p {
  font-family: "Roboto", sans-serif;
  color:  var(--tone-1-color);
  font-size: 0.8rem;
}

/* Style Timeline General II*/
/******************************************************************************/

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}


.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  cursor: pointer;
  color: var(--tone-1-accent-color);
  border-left: 2px solid var(--tone-1-color);
}

.highlight-item {
  border-left: 2px solid var(--tone-4-color);
}

.timeline-item p {
  font-size: 1rem;
  color:  var(--tone-1-color);
}

.timeline-item::before {
  content: attr(on-line);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.785rem;
}

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7.5px;
  border-radius: 10px;
  content: "";
  border: 2px solid var(--tone-1-color);;
  background: white;
}

.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, var(--tone-1-color);) 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, var(--tone-1-color); 60%, rgba(0, 0, 0, 0)) 1 100%;
}

/* Style Timeline Level-Tags*/
/******************************************************************************/
.timeline-item a {
  position: absolute;
  display: block;
  left: 2em;
  top: 3em;
  display: block;
  font-family: "consolas";
  font-size: 0.785rem;
  padding: 5px;
  border-radius: 3px;
}

.level-tag-1   {background-color: #33a5b0;
                color: #1f3c22;}
.level-tag-2   {background-color: #4e9455;
                color: #1f3c22;}
.level-tag-3   {background-color: #a1266f;
                color: #1f3c22;}
.level-tag-SUB {background-color: var(--tone-4-color);
                color: var(--tone-4-accent);}
